<header class="site-header">
  <div class="wrapper">
    <div class="site-title">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="{{ site.title }}" width="150" height="40">
      </a>
    </div>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="#menu">Menu</a>
      </div>
      <div id="menu">
        <ul>
          <li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/pages/templates">Templates</a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/pages/about">Over Mij</a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/blog">Blog</a></li>
          <li><a class="page-link" href="{{ site.baseurl }}/pages/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>